<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>Student List</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Student List</h5>
                </div>
                <div class="col">
                    <a th:href="@{/student/create}" class="float-right btn btn-outline-primary btn-sm">Create</a>
                </div>
            </div>
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone Number</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="studentDTO,iter :${studentDTOList}">
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${studentDTO.getFirstName()}"></td>
                    <td th:text="${studentDTO.getLastName()}">Otto</td>
                    <td th:text="${studentDTO.getEmailAddress()}">@mdo</td>
                    <td th:text="${studentDTO.getPhoneNumber()}">@mdo</td>
                    <td>
                        <a th:href="@{'/student/edit/'+${studentDTO.getId()}}" style="text-decoration: none">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{'/student/delete/'+${studentDTO.getId()}}" class="text-danger"
                           style="text-decoration: none">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>